       [title*="Hosted on free web hosting 000webhost.com. Host your own website for FREE."] {
           display: hidden;
           visibility: hidden;
       }
       /* =======================================================================================navbar ========================================================================= */
       
       .botnav {
           height: 75px;
           vertical-align: middle;
           vertical-align: -webkit-baseline-middle;
       }
       
       .navbar-inverse {
           background-color: #222;
           border-color: #080808;
           box-shadow: -2px -5px 40px 0px #8490ff;
       }
       
       .navbar-default .navbar-brand {
           margin-top: -6px;
       }
       
       .navbar-default {
           background-color: #fff;
           border-color: #b9b6b6;
           box-shadow: 0px 1px 40px 0px #8490ff;
           border-top-left-radius: 0;
           border-top-right-radius: 0;
       }
       
       .navbar-default .navbar-brand {
           color: #000;
           text-transform: uppercase;
           font-weight: bold;
           text-shadow: 3px 1px 3px #94ceff;
       }
       
       .nav>li>a {
           position: relative;
           display: block;
           padding: 10px 15px;
           font-size: 12px;
       }
       
       .navbar-default .navbar-nav>li>a {
           color: #000;
           font-weight: bold;
           font-size: 12px;
           text-transform: uppercase;
           outline: none;
       }
       
       .navbar-default .navbar-nav>li>a:hover {
           color: #8490ff;
       }
       
       .navbar-nav .active {
           color: #8490ff !important;
       }
       /*============================================================= page index banner ======================================================================*/
       
       .dim-blue {
           background: #f9f9ff;
           margin-top: -20px;
       }
       
       .banner-left-h6 {
           text-transform: uppercase;
           font-weight: 400;
           letter-spacing: 2px;
       }
       
       .banner-left-h1 {
           margin: 20px 0;
           text-transform: uppercase;
       }
       
       .btn-download-cv {
           /* border: 1px solid grey; */
           display: inline-block;
           padding: 6px 12px;
           margin-bottom: 0;
           font-size: 14px;
           line-height: 1.42857143;
           text-align: center;
           white-space: nowrap;
           vertical-align: middle;
           border: 1px solid transparent;
           touch-action: manipulation;
           cursor: pointer;
           /* border-radius: 4px; */
           background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
           transition: all 0.3s ease 0s;
       }
       
       .rotate {
           transform: rotate(90deg);
       }
       
       .btn-download-cv-a {
           color: white;
           font-weight: bold;
           text-transform: uppercase;
           letter-spacing: 1px;
       }
       
       .btn-download-cv-a:hover {
           box-shadow: 0px 20px 20px 0px rgba(132, 144, 255, 0.3);
           color: white;
           text-decoration: none;
       }
       
       .in-exp-heading {
           font-size: 18px;
           margin-bottom: 4em;
           font-weight: 700;
           text-transform: uppercase;
           letter-spacing: 5px;
           line-height: 1.8;
           position: relative;
       }
       
       .banner-title {
           margin-left: 20px;
       }
       /* only pc */
       
       @media only screen and (min-width: 600px) {
           .banner-left-h1 {
               margin: 20px 0;
               font-size: 60px;
               text-transform: uppercase;
           }
           .first-section {
               margin-top: 88px !important;
           }
           .container-fluid>.navbar-collapse,
           .container-fluid>.navbar-header,
           .container>.navbar-collapse,
           .container>.navbar-header {
               margin-right: 0;
               margin-left: 100px;
           }
           .banner-title {
               margin-left: 60px;
           }
       }
       /* ==================================================================================================services icons============================================================================= */
       
       .services {
           margin-bottom: 30px;
           padding: 1.5em;
           -webkit-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
           -moz-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
           -ms-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
           -o-box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
           box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
           border-bottom: 2px solid #2c98f0;
       }
       
       .services .icon2 {
           display: block;
           margin-bottom: 20px;
       }
       
       .services .icon2 i {
           font-size: 30px;
           color: #2c98f0;
       }
       
       .services h3 {
           font-family: "Quicksand", Arial, sans-serif;
           font-size: 16px;
           font-weight: 500;
       }
       
       .services.color-2 {
           border-bottom: 2px solid #ec5453;
       }
       
       .services.color-2 .icon2 i {
           color: #ec5453;
       }
       
       .services.color-3 {
           border-bottom: 2px solid #f9bf3f;
       }
       
       .services.color-3 .icon2 i {
           color: #f9bf3f;
       }
       
       .services.color-4 {
           border-bottom: 2px solid #a84cb8;
       }
       
       .services.color-4 .icon2 i {
           color: #a84cb8;
       }
       
       .services.color-5 {
           border-bottom: 2px solid #2fa499;
       }
       
       .services.color-6 {
           border-bottom: 2px solid #4054b2;
       }
       
       .services {
           margin-bottom: 80px;
           position: relative;
           z-index: 0;
       }
       
       @media screen and (max-width: 768px) {
           .services {
               margin-bottom: 4em;
           }
       }
       
       .services .icon {
           position: absolute;
           top: -20px;
           left: 0;
           right: 0;
           width: 100px;
           height: 50px;
           display: table;
           margin: 0 auto;
           background: #2c98f0;
       }
       
       .services .icon:before,
       .services .icon:after {
           position: absolute;
           left: 0;
           right: 0;
           content: '';
       }
       
       .services .icon:before {
           top: -30px;
           width: 0;
           height: 0;
           border-style: solid;
           border-width: 0 50px 30px 50px;
           border-color: transparent transparent #2c98f0 transparent;
       }
       
       .services .icon:after {
           bottom: -30px;
           width: 0;
           height: 0;
           border-style: solid;
           border-width: 30px 50px 0 50px;
           border-color: #2c98f0 transparent transparent transparent;
       }
       
       .services .icon i {
           font-size: 30px;
           color: #fff;
           z-index: 1;
           display: table-cell;
           vertical-align: middle;
       }
       
       .services .desc {
           margin-top: 60px;
       }
       
       .services .desc h3 {
           font-size: 16px;
           font-weight: 700;
           text-transform: uppercase;
       }
       
       .services.color-2 .icon {
           background: #ec5453;
       }
       
       .services.color-2 .icon:before {
           border-color: transparent transparent #ec5453 transparent;
       }
       
       .services.color-2 .icon:after {
           border-color: #ec5453 transparent transparent transparent;
       }
       
       .services.color-3 .icon {
           background: #f9bf3f;
       }
       
       .services.color-3 .icon:before {
           border-color: transparent transparent #f9bf3f transparent;
       }
       
       .services.color-3 .icon:after {
           border-color: #f9bf3f transparent transparent transparent;
       }
       
       .services.color-4 .icon {
           background: #a84cb8;
       }
       
       .services.color-4 .icon:before {
           border-color: transparent transparent #a84cb8 transparent;
       }
       
       .services.color-4 .icon:after {
           border-color: #a84cb8 transparent transparent transparent;
       }
       
       .services.color-5 .icon {
           background: #2fa499;
       }
       
       .services.color-5 .icon:before {
           border-color: transparent transparent #2fa499 transparent;
       }
       
       .services.color-5 .icon:after {
           border-color: #2fa499 transparent transparent transparent;
       }
       
       .services.color-6 .icon {
           background: #4054b2;
       }
       
       .services.color-6 .icon:before {
           border-color: transparent transparent #4054b2 transparent;
       }
       
       .services.color-6 .icon:after {
           border-color: #4054b2 transparent transparent transparent;
       }
       /* =====================================================================================about us page======================================================== */
       
       .blue-grad {
           background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
       }
       
       .link-nav-heading {
           font-size: 48px;
           margin: 20px auto;
           font-family: "Poppins", sans-serif;
           line-height: 1.2em !important;
           margin-bottom: 20px;
           margin-top: 50px;
           font-weight: 600;
       }
       
       .text-white {
           color: white;
       }
       
       .fs {
           margin-top: 50px;
       }
       
       .link-nav>a {
           color: #fff;
           font-weight: 300;
           font-size: 14px;
           text-decoration: none;
           outline: 0;
       }
       
       .link-nav {
           margin-bottom: 50px;
       }
       /*=========================================================================== progress bar================================================================ */
       
       .progress-wrap h3 {
           font-size: 16px;
           font-family: "Quicksand", Arial, sans-serif;
           margin-bottom: 10px;
       }
       
       .progress {
           height: 6px;
           -webkit-box-shadow: none;
           box-shadow: none;
           background: #f2f3f7;
           overflow: visible;
       }
       
       .progress-bar {
           background: #2c98f0;
           -webkit-box-shadow: none;
           box-shadow: none;
           font-size: 12px;
           line-height: 1.2;
           color: #000;
           font-weight: 600;
           text-align: right;
           position: relative;
           overflow: visible;
           -webkit-border-radius: 8px;
           -moz-border-radius: 8px;
           -ms-border-radius: 8px;
           border-radius: 8px;
       }
       
       .progress-bar:after {
           position: absolute;
           top: -2px;
           right: 0;
           width: 10px;
           height: 10px;
           content: '';
           background: #2c98f0;
           -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
           -ms-border-radius: 50%;
           border-radius: 50%;
       }
       
       .progress-bar span {
           position: absolute;
           top: -22px;
           right: 0;
       }
       
       .progress-bar.color-1 {
           background: #2c98f0;
       }
       
       .progress-bar.color-1:after {
           background: #2c98f0;
       }
       
       .progress-bar.color-1 span {
           color: #2c98f0;
       }
       
       .progress-bar.color-2 {
           background: #ec5453;
       }
       
       .progress-bar.color-2:after {
           background: #ec5453;
       }
       
       .progress-bar.color-2 span {
           color: #ec5453;
       }
       
       .progress-bar.color-3 {
           background: #f9bf3f;
       }
       
       .progress-bar.color-3:after {
           background: #f9bf3f;
       }
       
       .progress-bar.color-3 span {
           color: #f9bf3f;
       }
       
       .progress-bar.color-4 {
           background: #a84cb8;
       }
       
       .progress-bar.color-4:after {
           background: #a84cb8;
       }
       
       .progress-bar.color-4 span {
           color: #a84cb8;
       }
       
       .progress-bar.color-5 {
           background: #2fa499;
       }
       
       .progress-bar.color-5:after {
           background: #2fa499;
       }
       
       .progress-bar.color-5 span {
           color: #2fa499;
       }
       
       .progress-bar.color-6 {
           background: #4054b2;
       }
       
       .progress-bar.color-6:after {
           background: #4054b2;
       }
       
       .progress-bar.color-6 span {
           color: #4054b2;
       }
       
       .edu-blue {
           color: white !important;
           background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%) !important;
           text-decoration: none;
       }
       
       .edu-blue:hover {
           color: white !important;
           background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%) !important;
           text-decoration: none;
       }
       /*===================================================================================== timeline================================================================ */
       
       .timeline-centered {
           position: relative;
           margin-bottom: 30px;
       }
       
       .timeline-centered:before,
       .timeline-centered:after {
           content: " ";
           display: table;
       }
       
       .timeline-centered:after {
           clear: both;
       }
       
       .timeline-centered:before,
       .timeline-centered:after {
           content: " ";
           display: table;
       }
       
       .timeline-centered:after {
           clear: both;
       }
       
       .timeline-centered:before {
           content: '';
           position: absolute;
           display: block;
           width: 4px;
           background: #f2f3f7;
           top: 20px;
           bottom: 20px;
           margin-left: 29px;
       }
       
       .timeline-centered .timeline-entry {
           position: relative;
           margin-top: 5px;
           margin-left: 30px;
           margin-bottom: 10px;
           clear: both;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner {
           position: relative;
           margin-left: -20px;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
           display: block;
           width: 40px;
           height: 40px;
           background: #2c98f0;
           -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
           -ms-border-radius: 50%;
           border-radius: 50%;
           text-align: center;
           -moz-box-shadow: 0 0 0 5px #f2f3f7;
           -webkit-box-shadow: 0 0 0 5px #f2f3f7;
           box-shadow: 0 0 0 5px #f2f3f7;
           line-height: 40px;
           float: left;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
           color: #fff;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
           background: #ec5453;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
           background: #f9bf3f;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4 {
           background: #a84cb8;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5 {
           background: #2fa499;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
           background: #fff;
           width: 20px;
           height: 20px;
           margin-left: 10px;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
           position: relative;
           background: #f2f3f7;
           padding: 1.5em;
           margin-left: 60px;
           -webkit-background-clip: padding-box;
           -moz-background-clip: padding;
           background-clip: padding-box;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
           content: '';
           display: block;
           position: absolute;
           width: 0;
           height: 0;
           border-style: solid;
           border-width: 9px 9px 9px 0;
           border-color: transparent #f2f3f7 transparent transparent;
           left: 0;
           top: 10px;
           margin-left: -9px;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p+p {
           margin-top: 15px;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
           font-size: 20px;
           font-family: "Quicksand", Arial, sans-serif;
           font-weight: 500;
           margin: -5px 20px;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
           color: #000;
       }
       
       .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
           -webkit-opacity: .4;
           -moz-opacity: .4;
           opacity: .4;
           -ms-filter: alpha(opacity=40);
           filter: alpha(opacity=40);
           font-size: 16px;
       }
       
       .timeline-link {
           text-decoration: none !important;
       }
       /* ========================================================================================= offered services in services page=============================================================*/
       
       .ser-card {
           height: 200px;
           width: 80%;
           margin: 10px auto;
           background: white;
           border-bottom: 5px solid;
           box-shadow: -1px -2px 20px 2px #887c7c;
       }
       
       .section {
           min-height: 720px;
           vertical-align: -webkit-baseline-middle;
       }
       
       .card-icon-holder {
           font-size: 40px;
       }
       
       .card-icon {
           /* margin-top: 75px; */
           padding: 15px;
           border-radius: 50%;
           line-height: 3;
           box-shadow: 0px 2px 20px 2px #000;
       }
       
       .card-title {
           color: black;
           text-align: center;
           margin-top: 35px;
       }
       
       .ser-card.color-1 {
           border-color: #2c98f0;
           color: #2c98f0;
       }
       
       .ser-card.color-2 {
           border-color: #ec5453;
           color: #ec5453;
       }
       
       .ser-card.color-3 {
           border-color: #f9bf3f;
           color: #f9bf3f;
       }
       
       .ser-card.color-4 {
           border-color: #a84cb8;
           color: #a84cb8;
       }
       
       .ser-card.color-5 {
           border-color: #2fa499;
           color: #2fa499;
       }
       
       .ser-card.color-6 {
           border-color: #4054b2;
           color: #4054b2;
       }
       /* ======================================================================================pricelist card =====================================================================================*/
       
       .price-card {
           min-height: 300px;
           background: #fff;
           text-align: center;
           /* border: 1px solid black; */
           margin-top: 20px;
           /* height: 600px; */
       }
       
       .pri-icon {
           -webkit-transition: all 0.3s ease 0s;
           -moz-transition: all 0.3s ease 0s;
           -o-transition: all 0.3s ease 0s;
           transition: all 0.3s ease 0s;
           margin-left: auto;
           margin-right: auto;
           font-size: 32px;
           font-weight: bold;
           width: 140px;
           height: 140px;
           line-height: 2;
           background-color: rgba(132, 144, 255, 0.1);
           border-radius: 100px;
           align-items: center;
           display: grid;
           border: 30px solid rgba(132, 144, 255, 0.1);
       }
       
       .pri-icon-hold {
           padding-top: 20px;
       }
       
       .pri-card-list {
           list-style-type: none;
           padding-bottom: 50px;
       }
       
       .pri-card-list hr {
           width: 70%;
       }
       
       .buy-btn {
           width: 50%;
           margin: auto;
           font-size: 25px;
           background: white;
           /* box-shadow: #000 0px 0 11px; */
           border-radius: 0;
           margin-top: 44px;
       }
       
       .price-card:hover {
           background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
           transform: scale(1.05);
           z-index: 2;
           color: #fff;
           cursor: pointer;
           border-radius: 5px;
       }
       
       .hoverclas {
           color: black;
       }
       
       .hovercircle {
           background-color: rgba(255, 253, 253, 0.34);
           border: 30px solid rgba(255, 255, 255, 0.6);
       }
       
       .list-item {
           color: black;
           text-align: center;
       }
       
       .portfolio-img {
           margin-top: 20px;
       }
       
       .portfolio-img>.img-thumbnail {
           display: inline-block;
           max-width: 100%;
           height: auto;
           padding: 4px;
           line-height: 1.42857143;
           background-color: #e9eaf5;
           border: 1px solid #3200fb;
           border-radius: 4px;
           -webkit-transition: all .2s ease-in-out;
           -o-transition: all .2s ease-in-out;
           transition: all .2s ease-in-out;
       }
       
       .color-btn {
           font-weight: bold;
           letter-spacing: 5px;
           font-family: "Poppins", sans-serif;
           color: white;
       }
       
       .color-btn.color-1 {
           border-color: #2c98f0;
           background-color: #2c98f0;
       }
       
       .color-btn.color-2 {
           border-color: #ec5453;
           background-color: #ec5453;
       }
       
       .color-btn.color-3 {
           border-color: #f9bf3f;
           background-color: #f9bf3f;
       }
       
       .color-btn.color-4 {
           border-color: #a84cb8;
           background-color: #a84cb8;
       }
       
       .color-btn.color-5 {
           border-color: #2fa499;
           background-color: #2fa499;
       }
       
       .color-btn.color-6 {
           border-color: #4054b2;
           background-color: #4054b2;
       }
       /* ====================================================================contact page =========================================================
        */
       
       .title-icon {
           font-size: 32px;
           float: left;
           display: inline-block;
           margin-right: 35px;
           /* position: relative; */
       }
       
       .title {
           font-weight: bold;
           font-family: "Poppins", sans-serif;
           /* font-size: 15px; */
       }
       
       .title>a {
           color: black;
           text-decoration: none;
       }
       
       #address,
       #ad-phone,
       #mail {
           margin-bottom: 10px;
           margin-top: 20px;
       }
       
       form.form {
           margin-top: 20px;
           /* border: 1px solid; */
       }
       
       #message {
           resize: none;
           height: 110px;
       }
       
       #submit {
           margin-top: 10px;
           color: white;
           font-weight: bold;
           letter-spacing: 3px;
       }
       
       #submit:active {
           color: black;
       }
       
       .fo-con {
           margin-top: 30px;
           margin-bottom: 30px;
       }
       
       .fo-abt-title {
           color: #fff;
           letter-spacing: 1px;
           font-family: "Poppins", sans-serif;
       }
       
       .fo-abt-content {
           color: #c0b7b7;
           text-align: justify;
       }
       
       .error {
           color: rgba(255, 0, 0, 0.719);
           /* text-shadow: #8490ff 1px 1px 1px; */
           /* color: -webkit-linear-gradient(0deg, #ee0790 0%, #8490ff 100%); */
       }
       
       #name-status {
           margin-left: 30px;
       }
       
       #message-status {
           margin-left: 30px;
       }
       
       #email-status {
           margin-left: 30px;
       }
       
       .img-me {
           border-radius: 50%;
           margin-top: 20px;
           height: 100px;
           border: 2px solid #ee0790;
       }
       
       .img-me:hover {
           animation: 2s linear flip infinite;
       }
       
       .soc-icons {
           color: white;
           margin-right: 20px;
           margin-top: 10px;
       }
       
       @keyframes flip {
           from {
               transform: rotateY(0deg)
           }
           to {
               transform: rotateY(360deg)
           }
       }